{% extends 'front/layout.html.twig' %}

{% block title %}Admin Login{% endblock %}


{% block content %}
<div style="min-height:600px; padding-top:200px;text-align: center;">
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<h1>Username : admin / Password : admin</h1>
<br>
<br>
<br>
<form action="{{ path('adminlogin') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/admin" />
    #}
    <input type="hidden" name="_target_path" value="/admin" />

    <button type="submit">login</button>
</form>
</div>
{% endblock %}