{% extends 'front/layout.html.twig' %}



{% block categories %}
    {% include 'front/categories.html.twig' with {'categories':categories} %}
{% endblock %}


{% block title %}{{post.title}}{% endblock %}

{% block content %}


          <!-- Title -->
          <h1 class="mt-4">{{post.title}}</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">Admin</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on January 1, 2018 at 12:00 PM</p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="{{asset('up/') ~ post.image }}" alt="{{post.title}}">

          <hr>

          {{post.article}}

          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form accept="" method="post">
              	<div class="form-group">
                  <input name="subject" placeholder="Your Name" class="form-control" rows="3" />
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="comment" placeholder="Comment ..." rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>


		  {% for comment in comments%}
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{comment.subject}}</h5>
              <p>{{comment.comment}}</p>
            </div>
          </div>
          {% endfor %}

{% endblock %}