{% extends 'front/layout.html.twig' %}

{% block title %}Posts{% endblock %}

{% block categories %}
    {% include 'front/categories.html.twig' with {'categories':categories} %}
{% endblock %}

{% block content %}
<h1 class="my-4">Posts</h1>

{% for column in posts %}
<div class="card mb-4">
  <img class="card-img-top" src="{{asset('up/') ~ column.image }}" alt="{{column.title}}">
  <div class="card-body">
    <h2 class="card-title">{{column.title}}</h2>
    <p class="card-text">{{column.article}}</p>
    <a href="{{path('view_post') ~ '/' ~ column.id}}" class="btn btn-primary">Read More →</a>
  </div>
</div>
{% endfor %}

{% endblock %}