{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}

<h1>All Posts</h1>
<hr>
{% for row in posts|batch(4) %}
<div class="row">
	<div class="col-md-12 d-flex align-items-stretch">
	{% for column in row %}
    	<div class="card w-25 d-inline-block text-center p-3">
			<img class="card-img-top" src="{{asset('up/') ~ column.image }}" alt="{{column.title}}">
			<div class="card-block">
				<h4 class="card-title">{{column.title}}</h4>
				<p class="card-text">{{column.article}}</p>
				<a href="#" class="btn btn-primary">View Post</a>
			</div>
		</div> 
	{% endfor %}
	</div>
</div>
<br>
{% endfor %}

{% endblock %}