{% extends 'back/layout.html.twig' %}

{% block title %}Categories{% endblock %}
{% block activeItem %}View Categories{% endblock %}

{% block body %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> View All Categories</div>
  <div class="card-body">
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info" role="alert">
          {{ flashMessage }}
        </div>

    {% endfor %}
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th width="100">Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {% for cat in categories %}
          <tr>
            <td>{{cat.title}}</td>
            <td><a href="{{path('categoriesDelete') ~ '/' ~ cat.id }}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}