{% set currentController=app.request.attributes.get("_controller")|split('\\')|last|split('::')|first %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}Admin Panel{% endblock %}</title>
  <!-- Bootstrap core CSS-->
  <link href="{{asset('/back/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{{asset('/back/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{{asset('/back/vendor/datatables/dataTables.bootstrap4.css')}}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{{asset('/back/css/sb-admin.css')}}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="">Admin Panel</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item {% if currentController=='CategoriesController' %}active{%endif%}" data-toggle="tooltip" data-placement="right" title="Categories">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#categories" data-parent="#exampleAccordion">
            <i class="fa fa-list"></i>
            <span class="nav-link-text">Categories </span>
          </a>
          <ul class="sidenav-second-level collapse {% if currentController=='CategoriesController' %}show{%endif%}" id="categories">
            <li>
              <a href="{{path('categoriesCreate')}}"><i class="fa fa-plus"></i> Add</a>
            </li>
            <li>
              <a href="{{path('categoriesView')}}"><i class="fa fa-eye"></i> View</a>
            </li>
          </ul>
        </li>

        <li class="nav-item {% if currentController=='PostController' %}active{%endif%}" data-toggle="tooltip" data-placement="right" title="Posts">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#posts" data-parent="#exampleAccordion">
            <i class="fa fa-align-left"></i>
            <span class="nav-link-text">Posts</span>
          </a>
          <ul class="sidenav-second-level collapse {% if currentController=='PostController' %}show{%endif%}" id="posts">
            <li>
              <a href="{{path('postCreate')}}"><i class="fa fa-plus"></i> Add</a>
            </li>
            <li>
              <a href="{{path('postView')}}"><i class="fa fa-eye"></i> View</a>
            </li>
          </ul>
        </li>

      </ul>

      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{path('logout')}}">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">{% block activeItem %}Dashboard{% endblock %}</li>
      </ol>
      {% block body %}{% endblock %}
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Test Assignment 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{{asset('/back/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('/back/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{asset('/back/vendor/jquery-easing/jquery.easing.min.js')}}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{{asset('/back/vendor/chart.js/Chart.min.js')}}"></script>
    <script src="{{asset('/back/vendor/datatables/jquery.dataTables.js')}}"></script>
    <script src="{{asset('/back/vendor/datatables/dataTables.bootstrap4.js')}}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{asset('/back/js/sb-admin.min.js')}}"></script>
    <!-- Custom scripts for this page-->
    <script src="{{asset('/back/js/sb-admin-datatables.min.js')}}"></script>
  </div>
</body>

</html>