{% extends 'back/layout.html.twig' %}

{% block title %}Create Category {% endblock %}
{% block activeItem %}New Category{% endblock %}

{% block body %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-plus"></i> Create Category</div>
  <div class="card-body">
	{{form(form)}}
  </div>
</div>
{% endblock %}