{% extends 'back/layout.html.twig' %}

{% block title %}Create Post {% endblock %}
{% block activeItem %}New Post{% endblock %}

{% block body %}
	<div class="card mb-3">
	  <div class="card-header">
	    <i class="fa fa-plus"></i> Create Post</div>
	  <div class="card-body">
		{{form_start(form)}}

		{{form_end(form)}}
	  </div>
	</div>
{% endblock %}