{% extends 'back/layout.html.twig' %}

{% block title %}Posts{% endblock %}
{% block activeItem %}View Posts{% endblock %}

{% block body %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> View All Posts</div>
  <div class="card-body">
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info" role="alert">
          {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Title</th>
            <th>Article</th>
            <th width="200">Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Title</th>
            <th>Article</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {% for post in posts %}
          <tr>
            <td>{{post.title}}</td>
            <td>{{post.article[0:100]}} ...</td>
            <td>
              <a href="{{path('postDelete') ~ '/' ~ post.id }}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
              {% if post.published %}
              <a href="{{path('postUnpublish') ~ '/' ~ post.id }}" class="btn btn-warning"><i class="fa fa-times"></i> Unpublish</a>
              {% else %}
              <a href="{{path('postPublish') ~ '/' ~ post.id }}" class="btn btn-success"><i class="fa fa-check"></i> Publish</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}